.header {
    color: var(--color-primary);
    font-size: 1.5rem;
    padding: 5px;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
    .checkout__button {
        padding: 0.5rem 2rem;
    }
}