.layout {
    background-color: var(--color-primary-variant);
    border-radius: 1rem;
    backdrop-filter: blur(20px);
    z-index: 2;
    color: var(--color-white);
    padding: 2rem;
    text-align: center;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 45rem;
    height: max-content;
    margin-top: 8rem;
    margin-bottom: 1.5rem;
}

.paper > h2 {
    color: var(--color-primary);
}

.stepper {
    color: var(--color-primary) !important;
}

.divider {
    margin: 20px 0;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
    .layout{
        width: 20rem;
        height: max-content;
    }
}
