.product {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 1rem;
    z-index: 1;
    border-radius: 1rem;
    cursor: pointer;
}

.product__img {
    width: 100%;
    object-fit: contain;
    border-radius: 1rem;
}

.product__info {
    display: flex;
    gap: 10px;
    padding: 1rem;
    align-items: center;
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
    
}