.shop > img {
    object-fit: cover;
    width: 100%;
    height: 100%;
    position: fixed;
    z-index: -1;
    margin-top: -4rem;
}

.shop__container{
    background: rgba(6, 70, 53, 0.7);
    border-radius: 1rem;
    backdrop-filter: blur(20px);
    z-index: 2;
    color: var(--color-white);
    padding: 2rem;
}

.shop__header {
    margin-top: 8rem;
    text-align: center;
}

.shop__row{
    margin-top: 0;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    justify-content: center;
    margin-bottom: 2rem;
}



/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
  .shop__row {
      grid-template-columns: 1fr 1fr;
  }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
    .shop__row{
        grid-template-columns: 1fr;
    }
}