body {
    margin-left: 30px;
    margin-right: 30px;
}

.section__one, .section__two {
    display: flex;
    justify-content: space-between;
}

.option__one {
    display: flex;
}

.option__one > img {
    height: 80px;
    width: 80px;
}

.option__one > div {
    margin-left: 20px;
}

h3, p {
    padding: 0; 
    margin: 0;
    padding-bottom: 5px;
}

img {
    display: block;
    width: 100%;
}

.images__grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    grid-gap: 1rem;
    width: 100%;
    max-width: 1280px;
    margin: 0 auto;
    margin-bottom: 2rem;
    margin-top: 1rem;
}

.open {
    display: flex;
}

footer {
    text-align: center;
    padding: 1rem;
    font-weight: 200;
}