.about__foundersContainer{
    width: 100%;
    padding-top: 2rem;
    margin-top: 0;
    padding-bottom: 4rem;
}

.about__founders {
    display: grid;
    grid-template-columns: 35% 50%;
    gap: 15%;
    margin: 0 10rem;
}

.about__founders-header > h3 {
    font-size: 2rem;
    color: var(--color-light);
    text-transform: lowercase;
}

.about__founders-header > h1 {
    font-size: 3rem;
    text-transform: capitalize;
    line-height: 1.2;
    color: var(--color-white);
}

.about__founders-header > p {
    margin: 1rem 0;
    color: var(--color-white);
}

.founders {
    width: 100%;
    animation-play-state: 1/1;
    border-radius: 2rem;
    background: linear-gradient(45deg, transparent, var(--color-light), transparent);
    display: grid;
    place-items: center;
}

.about__founders-image {
    border-radius: 2rem;
    overflow: hidden;
    transform: rotate(10deg);
    transition: var(--transition);
}
.about__founders-image:hover {
    transform: rotate(0);
}

/* ========== MEDIA QUERIES (MEDIUM DEVICES) ========== */
@media screen and (max-width: 1024px) {
    .about__founders {
        grid-template-columns: 1fr;
        gap: 2rem;
        margin: 0 6rem !important
    }
}

/* ========== MEDIA QUERIES (SMALL DEVICES) ========== */
@media screen and (max-width: 600px) {
    .about__founders {
        margin: 0 2rem !important;
        text-align: center;
    }
    .about__founders-header > h3 {
        font-size: 1.3rem;
    }
    .about__founders-header > h1 {
        font-size: 1.9rem;
        line-height: 1.2;
    }
}